body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;

    background-color: beige;

    h1 {
        font-size: 5rem;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}